/* HEADER*/


header{
    background-color: #7A074C;
}

.navbar-collapse{
	justify-content: flex-end;
}

.navbar {
    background-color: #7A074C;
}

.logo{
	width: 50px;
}

.nav-link{
	color: white;
}

nav{
	background-color: #7A074C;
}
.navbar-collapse{
	justify-content: flex-end;
}
h1{
	display: flex;
	justify-content: center;
}





/* MAIN */

.img-eventos{
	border-radius: 70px;
}

h3{
	padding: 50px;
	padding-bottom: 20px;
	padding-left: 0px;
}

main{
	background-color: #FDDCDC;
;
}

main .row{
	align-items: center;
	padding-bottom: 60px;
}


h3{
	color: #7A074C;
}
.texto1{
	color: #211866;
}
.parrafo{
  color: #211866;
}

.card{
	flex-direction: row;
	border-radius: 1rem;
	border: 0px;
	background-color: #FDDCDC;
}
.card-img-top{
	width: 80px;
}


.row{
	 justify-content: center;
}




/*FOOTER*/

footer{
	background-color: #7A074C;
}

footer .row{
	align-items: flex-end;
}

.footer-titulo{
	color: white;
}

.titulo{
	color: #7A074CE5;
}

footer{
	color: white;
	align-items: flex-end;
}


/* FUENTES */

body {
    font-family: Rubik;
    color: #211866;
}


P{
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;



}

h3{
	font-family: Rubik;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;

}

.footer-titulo{
	font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

h1{
	font-family: Rubik;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
}

h5{
	font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
}










main{
	background-color: #fddcdc42;
}

footer{
	background-color: #7A074C;
}

.logo{
	width: 50px;

}

h1{
	padding: 60px;
	padding-bottom: 40px;
}
section{
	padding: 60px;
}


.img-evento{
	border-radius: 35px;
}

h5{
	text-align: center;
}




